Test Stuff
GradSchoolCode
Discord_Bots
data structures
BioinformaticsCode
Aquiring Data
AI
Useful Notes
tensorflow-1-public
Github_Projects/Self Made ANNs/__pycache__/Object_Oriented_Numpy_ANN.cpython-311.pyc
tensorflow-1-public
Cloud Solutions Archietect Associate Level
Securian_Code
.gitignore