Test Stuff
GradSchoolCode
Discord_Bots
data structures
BioinformaticsCode
Aquiring Data
AI
Useful Notes
tensorflow-1-public
Github_Projects/Self Made ANNs/__pycache__/Object_Oriented_Numpy_ANN.cpython-311.pyc
tensorflow-1-public
Cloud Solutions Archietect Associate Level
Securian_Code
.gitignore
TensorFlow-Examples/tensorflow_v2/notebooks/3_NeuralNetworks/autoencoder.ipynb
TensorFlow-Examples/tensorflow_v2/notebooks/3_NeuralNetworks/bidirectional_rnn.ipynb
TensorFlow-Examples/tensorflow_v2/notebooks/3_NeuralNetworks/convolutional_network_raw.ipynb
TensorFlow-Examples/tensorflow_v2/notebooks/3_NeuralNetworks/convolutional_network.ipynb
TensorFlow-Examples/tensorflow_v2/notebooks/3_NeuralNetworks/dcgan.ipynb
TensorFlow-Examples/tensorflow_v2/notebooks/3_NeuralNetworks/dynamic_rnn.ipynb
TensorFlow-Examples/tensorflow_v2/notebooks/3_NeuralNetworks/neural_network_raw.ipynb
TensorFlow-Examples/tensorflow_v2/notebooks/3_NeuralNetworks/neural_network.ipynb
TensorFlow-Examples/tensorflow_v2/notebooks/3_NeuralNetworks/recurrent_network.ipynb

.fake